/* ChatWindow.css */
.chat-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #d7ade8;
    width: 400px; /* Genişlik belirleme */
    height: 600px; /* Yükseklik belirleme */
    position: relative; /* Konumlandırma için gerekli */
  }
  

.messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    /**/
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Mesajları sola hizala */
}

.message-box {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 80%; /* Mesaj kutularının genişliğini sınırla */
    word-wrap: break-word;
    /**/
    display: inline-block; /* Kutucukların yan yana olmasını sağlar */
}

.message-box.user {
    background-color: #d4edda; /* Açık yeşil arka plan */
    align-self: flex-end; /* Kullanıcı mesajlarını sağa hizala */
    /**/
    text-align: right; /* Kullanıcı mesajlarını sağa hizala */
    border-radius: 15px 15px 0 15px;
}

.message-box.bot {
    background-color: #f1f1f1; /* Açık gri arka plan */
    align-self: flex-start; /* Chatbot mesajlarını sola hizala */
    /**/
    text-align: left; /* Chatbot mesajlarını sola hizala */
    border-radius: 15px 15px 15px 0
}

.input-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px; /* Butonun alt köşeye yakın yerleştirilmesini sağlar */
    right: 20px; /* Butonun sağ köşeye yakın yerleştirilmesini sağlar */
    width: calc(100% - 40px); /* Butonun tam genişliği kapsamasını sağlar */
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    flex: 1; /* Mesaj kutusunun tüm boşluğu kaplamasını sağlar */
    border: 1px solid #ccc;
    border-radius: 5px;
}
.send-button {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #641982;
    color: white;
    cursor: pointer;
}

.send-button:hover {
    background-color: #16a085;
}