.chat-window {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background-color: #121212; /* Dark gray for the background */
    width: 800px;
    height: 620px;
    position: relative;
    margin-right: 250px;
}

.chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 220px);
    height: 100%;
    overflow-y: auto;
    margin-right: 20px;
    background-color: #ffffff; /* White for the chat area */
    margin: auto; /* Yatayda ortalamak için */
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.messages::-webkit-scrollbar {
    width: 12px; /* Scrollbar width */
    background-color: #333333; /* Dark gray for the scrollbar background */
}

.message-box {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 80%;
    word-wrap: break-word;
    display: inline-block;
}

.message-box.user {
    background-color: #e50914; /* Bright red for user messages */
    align-self: flex-end;
    text-align: right;
    margin-right: 20px;
    border-radius: 15px 15px 0 15px;
    color: #ffffff; /* White text */
}

.message-box.bot {
    background-color: #333333; /* Dark gray for bot messages */
    align-self: flex-start;
    text-align: left;
    border-radius: 15px 15px 15px 0;
    color: #ffffff; /* White text */
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 80%;
    padding: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 120px);
    border: 1px solid #e50914; /* Bright red for the border */
    border-radius: 5px;
    margin-right: 10px;
}

.send-button {
    padding: 10px;
    font-size: 16px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #e50914; /* Bright red for the send button */
    color: #ffffff; /* White text */
    cursor: pointer;
}

.send-button:hover {
    background-color: #b20710; /* Darker red for hover effect */
}

/* Movie List styling */
.movie-list {
    width: 200px;
    text-align: center;
    background-color: #121212; /* Dark gray for the movie list */
    padding: 0px;
    border-left: 1px solid #ffffff;
    overflow-y: auto;
    position: fixed;
    right: 100px;
    margin-top: 66px;
    top: 0px;
    height: 600px;
    z-index: 1000;
}

/* Movie List title */
.movie-list-title {
    font-size: 24px; /* Larger font size for the title */
    font-weight: bold; /* Bold text */
    color: #ffffff; /* White for the title */
    margin: 20px 0; /* Space above and below the title */
    border-bottom: 2px solid #e50914; /* Bright red underline */
}

/* Movie List buttons */
.movie-list button {
    display: block;
    width: 90%;
    padding: 10px 20px;
    margin: 0 auto 10px;
    border: none;
    border-radius: 5px;
    background-color: #e50914; /* Bright red for buttons */
    color: #ffffff; /* White text */
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.movie-list button:hover {
    background-color: #b20710; /* Darker red for hover effect */
}