/* Tüm sayfa için stil ayarları */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Yatayda ortalama */
    align-items: center; /* Dikeyde ortalama */
    background-color: #121212; /* Koyu gri arka plan rengi */
}

/* Ana container için stil ayarları */
#root {
    display: flex;
    justify-content: center; /* Yatayda ortalama */
    align-items: center; /* Dikeyde ortalama */
    width: 100%;
    height: 100%;
}

/* Login sayfasının container'ı */
.login-page {
    display: flex;
    justify-content: center; /* Yatayda ortalama */
    align-items: center; /* Dikeyde ortalama */
    width: 100%;
    height: 100%;
}

/* Login formu için stil ayarları */
.login-form {
    background: #333333; /* Koyu gri arka plan rengi */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Form genişliği */
    text-align: center; /* İçerik ortalaması */
    color: #ffffff; /* Beyaz yazı rengi */
}

.username-input{
   
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #e50914;
    border-radius: 5px;
    margin-left: 7px;
    background-color: #121212;
    color: #ffffff;
    width: 550px; 
}
.password-input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #e50914;
    border-radius: 5px;
    background-color: #121212;
    color: #ffffff;
    margin-left: 1px;
    width: 140px; 
}

/* Giriş yap butonu ve misafir girişi butonunun stilleri */
.login-form button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #e50914; /* Parlak kırmızı arka plan rengi */
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.login-form button:hover {
    background-color: #b20710; /* Koyu kırmızı hover efekti */
}

/* Buton grubunu yatayda ortalamak */
.button-group {
    display: flex;
    gap: 10px;
    justify-content: center; /* Butonları yatayda ortalar */
}

/* Hata mesajı için stil ayarları */
.error {
    color: #e50914; /* Kırmızı renk */
    margin-top: 10px;
}

/* Çıkış Yap butonuna özel stil */
.logout-button {
    background-color: #d32f2f; /* Parlak kırmızı arka plan rengi */
    color: white;
}

.logout-button:hover {
    background-color: #b20710; /* Koyu kırmızı hover efekti */
}
