.sidebar {
  width: 250px;
  background-color: #343a40; /* Sidebar için koyu gri */
  color: #ffffff; /* Metin için beyaz */
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
}

.sidebar h2 {
  margin-bottom: 20px;
  cursor: pointer;
  padding: 10px;
  background-color: #495057; /* Başlık için koyu gri */
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar h2:hover {
  background-color: #6c757d; /* Hover efekti için daha açık gri */
  color: #ffffff;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar ul li:hover {
  background-color: #495057; /* Hover efekti için koyu gri */
  color: #ffffff; /* Hover efekti için beyaz yazı rengi */
  padding: 5px;
  border-radius: 5px;
}
