/* App.css */

/* root ve main-content stilleri */
#root {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;  /* Yatayda ortalama */
  justify-content: center; /* Dikeyde ortalama */
  margin-left: 250px; /* Sidebar genişliğine eşit olmalı */
}

/* logo stilleri */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* kart stili */
.card {
  padding: 2em;
}

/* doküman okuma stili */
.read-the-docs {
  color: #888;
}

.logout-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100px; 
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c0392b;
}

/* App sınıfı stilleri */
.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* body, html ve root stilleri */
body, html, #root {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

/* Temalar için genel ayarlar */
body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

/* Buton renkleri */
.app-container.light-theme .sidebar-button {
  background-color: #f0f0f0;
  color: #000000;
}

.app-container.dark-theme .sidebar-button {
  background-color: #333333;
  color: #ffffff;
}

/* ChatWindow arka plan renkleri */
.app-container.light-theme .chat-window {
  background-color: #ffffff;
}

.app-container.dark-theme .chat-window {
  background-color: #222222;
}
